/*

--- 01 TYPOGRAPHY SYSTEM

- Font Size System (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights: 
Default: 400

- Line heights: 
Default: 1



      
--- 02 COLORS

- Primary: #e67e22
- Tints: #fdf2e9;
- Shades:
- Accents:
- Greys:  #555 #333



--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE

- Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    
}

body {
    font-family: sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555; /* body içinde yer alan textlerin color'u */
}

.section-hero {
    background-color: #fdf2e9;
    padding: 9.6rem 0;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 130rem; /* 1300px */ /*width olsaydı browser'ın altında scroll çıkardı*/
    margin: 0 auto;
    gap: 9.6rem;
    align-items: center;
    
}

.heading-primary {
    font-size: 5.2rem;
    font-weight: 700; /* bold */
    line-height: 1.05;
    color: #333;
    letter-spacing: -0.5px; /* scale up/down'a bakmayan bir şey olduğunu için px kullanılabilir burda */
    margin-bottom: 3.2rem;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;

}

.btn:link, .btn:visited {
    display: inline-block;
    text-decoration: none ;
    font-size: 2rem;
    padding: 1.6rem 3.2rem; /* pratik olarak sağ-solu diğerini 2 katı yapmak */
    border-radius: 9px;
    /**/
    transition: all 0.3s; /* put transition on originial state */
}

.btn-full:link, .btn-full:visited {
    background-color: #e67e22;
    color: #fff;
}

.btn-full:hover, .btn-full:active {
    background-color: #cf711f;
    color: #fff;
}


.btn-outline:link, .btn-outline:visited {
    background-color: #fff;
    color: #555;
}

.btn-outline:hover, .btn-outline:active {
    background-color: #fdf2e9;
    /* border: 3px solid #fff; bunu yapınca kutunun dışına border ekliyor*/
    box-shadow: inset 0 0 0 3px #fff;
}

.hero-img {
    max-width: 100%;
}

.margin-right-sm {
    margin-right: 1.6rem !important /*  it will override ALL previous styling rules for that specific property on that element! */
    /* bu şekildeki bir helper class ile
    elementteki diğer stillerin ne olduğuna bakmadan sadece bunu eklemiş olduk
    elementi başka yerde kullansak otomatik margin eklememiş olacka,
    buraya özel*/
}